.container {
    width: 980px;
    margin: 100px auto;
}

.logo {
    display: block;
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    // background: url(../images/logo.png) 0 0 no-repeat;
    background-size: 100%;
}